@model IEnumerable<interartStore.Models.Cliente>
@{
    ViewBag.Title = "Listar clientes";
}

<br />
<p>@Html.ActionLink("Cadastrar novamente", "Cliente")</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.cliNome)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.cliCPF)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.cliNasc)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.cliEmail)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.cliEnd)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cliNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliCPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliNasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliEnd)
            </td>
            <td>
                @Html.ActionLink("Alterar", "AltCli", null, new 
            { cliCPF = item.cliCPF }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Deletar", "DelCli", null, new 
            { cliCPF = item.cliCPF }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }
</table>

