@model interart.Models.FuncionarioModel
@{
    ViewBag.Title = "Listar funcionarios";
}

<h2>Listar funcionarios</h2>
<fieldset>
    <legend>Lista de funcionarios</legend>
    <div class="editor-label"><b> @Html.DisplayNameFor(m => m.funcCod) </b></div>
    <div class="editor-field"> @Html.DisplayFor(m => m.funcCod) </div>

    <div class="editor-label"><b> @Html.DisplayNameFor(m => m.funcNome) </b></div>
    <div class="editor-field"> @Html.DisplayFor(m => m.funcNome)  </div>

    <div class="editor-label"><b> @Html.DisplayNameFor(m => m.funcCPF) </b></div>
    <div class="editor-field"> @Html.DisplayFor(m => m.funcCPF) </div>

    <div class="editor-label"><b> @Html.DisplayNameFor(m => m.funcRG) </b></div>
    <div class="editor-field"> @Html.DisplayFor(m => m.funcRG)  </div>

    <div class="editor-label"><b> @Html.DisplayNameFor(m => m.funcNasc) </b></div>
    <div class="editor-field"> @Html.DisplayFor(m => m.funcNasc)</div>

    <div class="editor-label"><b> @Html.DisplayNameFor(m => m.funcEnd) </b></div>
    <div class="editor-field"> @Html.DisplayFor(m => m.funcEnd) </div>

    <div class="editor-label"><b> @Html.DisplayNameFor(m => m.funcEmail) </b></div>
    <div class="editor-field"> @Html.DisplayFor(m => m.funcEmail) </div>

    <div class="editor-label"><b> @Html.DisplayNameFor(m => m.funcCarg) </b></div>
    <div class="editor-field"> @Html.DisplayFor(m => m.funcCarg) </div>
</fieldset>

